{% extends "layout.html" %}

{% block title %} Welcome {% endblock %}


{% block body%}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for event in events %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
        <!-- Add more indicators as needed -->
    </ol>
    <div class="carousel-inner">
        {% for event in events %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="d-block w-100" src="{{ event.banner.url }}" alt="Event Banner">
            <div class="carousel-caption d-none d-md-block">
                <div class="carousel-caption-overlay">
                    <h5>{{ event.name }}</h5>
                    <p>{{ event.event_details }}</p>
                    <p>{{ event.event_start_date }} - {{ event.event_end_date }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Add more carousel items with events -->
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


  
  <!-- Main Content Area -->
  <div class="container mt-5">
      <h2>Upcoming Events</h2>
      <div class="row">
        {% for event in events %}
          <div class="col-md-4">
              <div class="card">
                  <img class="card-img-top" src="{{ event.banner.url }}" alt="Event 4">
                  <div class="card-body">
                      <h5 class="card-title">{{ event.name }}</h5>
                      <p class="card-text">{{ event.event_details }}</p>
                      <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">More Info</a>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
  </div>


{% endblock %}