
{% extends "layout.html" %}
{% load widget_tweaks %}
{% block title %} Update Event {% endblock %}




{% block body %}
<div class="container mt-5">
    <h2>Update Event</h2>
    <form method="post" enctype="multipart/form-data" class="my-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">Event Name</label>
            {{ form.name|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_venue" class="form-label">Venue</label>
            {{ form.venue|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_venue_location" class="form-label">Venue Location</label>
            {{ form.venue_location|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_event_start_date" class="form-label">Event Start Date</label>
            {{ form.event_start_date|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_event_end_date" class="form-label">Event End Date</label>
            {{ form.event_end_date|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_event_details" class="form-label">Event Details</label>
            {{ form.event_details|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_banner" class="form-label">Banner Image</label>
            {{ form.banner|add_class:"form-control" }}
        </div>
        <div class="mb-3 form-check">
            {{ form.is_active|add_class:"form-check-input" }}
            <label for="id_is_active" class="form-check-label">Is this Event Active</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Save Event Details</button>
    </form>
</div>
<script>
document.getElementById("id_event_start_date").type = "datetime-local";
document.getElementById("id_event_end_date").type = "datetime-local";
</script>
{% endblock %}